*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

#home_page{
    background-image: url('../assets/images/home.jpg');
    height: 100vh;
    background-size: cover; /* Adjusts the image to cover the entire background */
    background-repeat: no-repeat;
}



#login_page{
 border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgb(255, 255, 255);
}

.login_logo{
    width: 60px;
    height: 60px;
}


#nav_bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #636e72, #000000);
}

.nav_logo {
    height: 40px;
    width: 200px;
}



.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

#dashboard{
    height: 91vh;
}

.nav{
    height: 91vh;
    border-right: 1px solid #4f4d4d;
}
.nav-link{
    font-weight: 500!important;
    font-size: 0.9em!important;
}


.nav-link:hover{
    color: #ffff00;
    font-weight: 600!important;
    background-color: #6ccaef;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 87vh;
}
#container_admin_table{
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 87vh;
    width: 47vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    overflow-y: scroll;
}
.control-error{
    font-size: 13px;
}

#v-pills-users , #v-pills-suppliers_active , #v-pills-suppliers_inactive{
    background-image: url('../assets/images/bg.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/bg.jpg");
    height: 91vh;
    width: 84vw;
    background-size: cover; /* Adjusts the image to cover the entire background */
    background-repeat: no-repeat;
}

#v-pills-suppliers{
    padding: 20px;
    height: 91vh;
    width: 84vw;
    background: rgba(255, 255, 255, 0.32);
}

#container_admin_table{
    background-color: rgba(255, 255, 255, 0.44);
}


span{
    color: red;
}

#supplierTbl{
    background-color: rgba(255, 255, 255, 0.44);
}

#container_Supplier_table{
    height: 48vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

thead {
    top: 0;
    position: sticky;
}

#container_Supplier_Active_table , #container_Supplier_Inactive_table{
   color: rgba(255, 255, 255, 0);
    height: 75vh;
    width: 81vw;
    overflow-y: scroll;
    overflow-x: scroll;
}