*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    background-image: url('../assets/images/home.jpg');
    height: 100vh;
    background-size: cover; /* Adjusts the image to cover the entire background */
    background-repeat: no-repeat;
}

#login_page{
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.09);
}

